# mounting drive for data access

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# installing libraries

In [3]:
!pip install cdsapi
#!pip install terality

Collecting cdsapi
  Downloading cdsapi-0.5.1.tar.gz (12 kB)
Requirement already satisfied: requests>=2.5.0 in /usr/local/lib/python3.7/dist-packages (from cdsapi) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from cdsapi) (4.62.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.5.0->cdsapi) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.5.0->cdsapi) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.5.0->cdsapi) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.5.0->cdsapi) (3.0.4)
Building wheels for collected packages: cdsapi
  Building wheel for cdsapi (setup.py) ... done
  Created wheel for cdsapi: filename=cdsapi-0.5.1-py2.py3-none-any.whl size=11699 sha256=7b3e5a0916dd4670f9d4f6a4927b8d455400267b161b7f833180e67b80d5c5ff
  Stored in directory: /root/.cache/pip/wheels/1d/2e/3c/3746e0cd076320584d6f47b688da7b13a5d5d1a92606779ca4
Successfully built cdsapi
Installing collected packages: cdsapi
Successfully installed cdsapi-0.5.1

In [5]:
import cdsapi
import netCDF4 as nc
from netCDF4 import num2date
from netCDF4 import Dataset
import numpy as np
import os
#import terality as te
import pandas as pd
import xarray as xr

In [ ]:
!terality account configure --email seafishleo@gmail.com

Your Terality API key: tla_YEq7jxFDoifhDvJzy3O1qzEX608pjU0AIe7z3Ys7ThgNFPeOQSId6PN4wAwJ12ys1q
Terality account succesfully configured on this system.
WARNING:terality:Could not read the Terality configuration files.



# Read Data from Drive

In [ ]:
my_nc_file = '/content/drive/MyDrive/data/ERA5_monthly_north.csv'
north_data = te.read_csv(my_nc_file)
north_data

In [ ]:
# USING XARRAY
#my_nc_file = '/content/drive/MyDrive/data/ERA5_monthly_north.nc'
#ds = xr.open_dataset(my_nc_file)
#north_data = ds.to_dataframe()
#north_data.head(100)

In [ ]:
north_data.dtypes

WARNING:urllib3.connectionpool:Retrying (Retry(total=2, connect=None, read=None, redirect=40, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='api.terality2.com', port=443): Read timed out. (read timeout=35)")': /v1/transfers
INFO:terality:The result of te.dataframe.dtypes was retrieved from cache [docs: https://docs.terality.com/getting-terality/user-guide/caching].

expver         int64
latitude     float64
longitude    float64
time          object
t2m          float64
siconc       float64
asn          float64
smlt         float64
sp           float64
tco3         float64
dtype: object

In [ ]:
len(north_data)

141177600

In [ ]:
north_data.count()

expver       141177600
latitude     141177600
longitude    141177600
time         141177600
t2m           70588800
siconc        15390216
asn           70588800
smlt          70588800
sp            70588800
tco3          70588800
dtype: int64

# Rename  & Calculation

In [ ]:
north_data__renamed = north_data.rename(columns={'t2m':'temperature_2m','siconic':'sea_ice_area_fraction','asn':'Snow_albedo','smlt':'snow_melt','sp':'surface_pressure','tco3':
'Total_column_ozone'})

In [ ]:
north_data__renamed = north_data__renamed.drop(['expver','latitude','longitude'],axis=1)
north_data__renamed

In [ ]:
north_avg = north_data__renamed.groupby('time').mean()

In [ ]:
north_avg

            temperature_2m    siconc  ...  surface_pressure  Total_column_ozone
time                                  ...
1979-01-01      255.527956  0.393509  ...      80884.359104            0.006313
1979-02-01      249.151987  0.268763  ...      80559.107569            0.006019
1979-03-01      242.581619  0.347582  ...      80029.685869            0.006080
1979-04-01      239.475744  0.613826  ...      80135.939285            0.005907
1979-05-01      235.630476  0.814768  ...      79953.811282            0.005999
...                    ...       ...  ...               ...                 ...
2021-08-01      233.059227  0.927768  ...      79942.072208            0.005444
2021-09-01      235.898869  0.920421  ...      79449.651808            0.004006
2021-10-01      240.550710  0.895792  ...      79909.074749            0.003351
2021-11-01      249.463848  0.790675  ...      79907.459769            0.004274
2021-12-01      256.611576  0.531269  ...      80020.640021            0.005502

[516 rows x 6 columns]

In [ ]:
north_avg.dtypes

temperature_2m        float64
siconc                float64
Snow_albedo           float64
snow_melt             float64
surface_pressure      float64
Total_column_ozone    float64
dtype: object

# Load Seaice Extent Dataframe

In [ ]:
n_seaice_df = pd.read_csv('/content/drive/MyDrive/data/N_seaice_extent_daily_v3.0.csv')
n_seaice_df

       Year  ...                                        Source Data
0      YYYY  ...   Source data product web sites: http://nsidc.o...
1      1978  ...   ['/ecs/DP1/PM/NSIDC-0051.001/1978.10.26/nt_19...
2      1978  ...   ['/ecs/DP1/PM/NSIDC-0051.001/1978.10.28/nt_19...
3      1978  ...   ['/ecs/DP1/PM/NSIDC-0051.001/1978.10.30/nt_19...
4      1978  ...   ['/ecs/DP1/PM/NSIDC-0051.001/1978.11.01/nt_19...
...     ...  ...                                                ...
14124  2022  ...  ['/ecs/DP1/PM/NSIDC-0081.001/2022.01.03/nt_202...
14125  2022  ...  ['/ecs/DP1/PM/NSIDC-0081.001/2022.01.04/nt_202...
14126  2022  ...  ['/ecs/DP1/PM/NSIDC-0081.001/2022.01.05/nt_202...
14127  2022  ...  ['/ecs/DP1/PM/NSIDC-0081.001/2022.01.06/nt_202...
14128  2022  ...  ['/ecs/DP1/PM/NSIDC-0081.001/2022.01.07/nt_202...

[14129 rows x 6 columns]

In [ ]:
n_seaice_df.drop([' Source Data','    Missing',' Day'], axis = 1, inplace = True)
n_seaice_df = n_seaice_df[n_seaice_df.Year != '1978']
n_seaice_df = n_seaice_df[n_seaice_df.Year != '2022']
n_seaice_df = n_seaice_df.iloc[1: , :]
n_seaice_df.reset_index(drop=True, inplace=True)
n_seaice_df

       Year   Month       Extent
0      1979      01        6.945
1      1979      01        6.838
2      1979      01        6.638
3      1979      01        6.270
4      1979      01        6.138
...     ...     ...          ...
14081  2021      12        6.461
14082  2021      12        6.295
14083  2021      12        6.185
14084  2021      12        5.846
14085  2021      12        5.679

[14086 rows x 3 columns]

In [ ]:
n_seaice_df.dtypes

Year           object
 Month         object
     Extent    object
dtype: object

In [ ]:
n_seaice_df["time"] = n_seaice_df["Year"].astype(str) + '-' + n_seaice_df[" Month"].str.strip()+'-01'
n_seaice_df['     Extent'] = n_seaice_df['     Extent'].astype(float)
n_seaice_df.drop(['Year',' Month'], axis = 1, inplace = True)
n_seaice_df

            Extent        time
0            6.945  1979-01-01
1            6.838  1979-01-01
2            6.638  1979-01-01
3            6.270  1979-01-01
4            6.138  1979-01-01
...            ...         ...
14081        6.461  2021-12-01
14082        6.295  2021-12-01
14083        6.185  2021-12-01
14084        5.846  2021-12-01
14085        5.679  2021-12-01

[14086 rows x 2 columns]

In [ ]:
n_seaice_avg = n_seaice_df.groupby('time').mean()
n_seaice_avg

                 Extent
time
1979-01-01     5.402200
1979-02-01     3.141071
1979-03-01     3.999312
1979-04-01     7.485533
1979-05-01    10.826667
...                 ...
2021-08-01    18.130871
2021-09-01    18.451467
2021-10-01    17.626000
2021-11-01    14.950000
2021-12-01     9.090484

[516 rows x 1 columns]

# Join Two Dataframes

In [ ]:
north_joined_df = north_avg.join(n_seaice_avg)
north_joined_df

WARNING:urllib3.connectionpool:Retrying (Retry(total=2, connect=None, read=None, redirect=40, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='api.terality2.com', port=443): Read timed out. (read timeout=35)")': /v1/transfers

            temperature_2m    siconc  ...  Total_column_ozone       Extent
time                                  ...
1979-01-01      255.527956  0.393509  ...            0.006313     5.402200
1979-02-01      249.151987  0.268763  ...            0.006019     3.141071
1979-03-01      242.581619  0.347582  ...            0.006080     3.999312
1979-04-01      239.475744  0.613826  ...            0.005907     7.485533
1979-05-01      235.630476  0.814768  ...            0.005999    10.826667
...                    ...       ...  ...                 ...          ...
2021-08-01      233.059227  0.927768  ...            0.005444    18.130871
2021-09-01      235.898869  0.920421  ...            0.004006    18.451467
2021-10-01      240.550710  0.895792  ...            0.003351    17.626000
2021-11-01      249.463848  0.790675  ...            0.004274    14.950000
2021-12-01      256.611576  0.531269  ...            0.005502     9.090484

[516 rows x 7 columns]

In [ ]:
north_joined_df = pd.read_csv('/content/drive/MyDrive/data/North_Data_Finalized.csv')
CO2_df = pd.read_csv('/content/drive/MyDrive/data/CO2.csv')
CO2_df["time"] = CO2_df["time"].astype(str)
methane_df = pd.read_csv('/content/drive/MyDrive/data/methane.csv')
methane_df["time"] = methane_df["time"].astype(str)
north_joined_df_new = pd.merge(north_joined_df, CO2_df, on="time")
north_joined_df_new = pd.merge(north_joined_df_new, methane_df, on="time")
north_joined_df_new.to_csv('/content/drive/MyDrive/data/North_Data_Finalized_1.csv')
north_joined_df_new

           time  temperature_2m    siconc  ...       Extent       xco2       xch4
0    2003-02-01      246.741962  0.884758  ...    15.193143  376.38867  1732.6155
1    2003-03-01      249.224691  0.892143  ...    15.484903  374.52463  1736.9479
2    2003-04-01      256.826361  0.884645  ...    14.512067  375.49440  1744.8373
3    2003-06-01      274.019265  0.780127  ...    11.604033  374.63092  1744.2860
4    2003-08-01      274.893003  0.575636  ...     6.935871  369.44266  1750.8135
..          ...             ...       ...  ...          ...        ...        ...
194  2020-02-01      249.717996  0.864570  ...    14.642138  410.65050  1832.6729
195  2020-03-01      250.632265  0.874701  ...    14.730000  412.03122  1845.1708
196  2020-04-01      260.010986  0.872704  ...    13.621500  413.05817  1850.6763
197  2020-05-01      268.472761  0.826479  ...    12.343129  414.23456  1853.0302
198  2020-06-01      275.032330  0.732227  ...    10.592833  412.82968  1850.3958

[199 rows x 10 columns]

In [ ]:
south_joined_df = pd.read_csv('/content/drive/MyDrive/data/South_Data_Finalized.csv')
CO2_df = pd.read_csv('/content/drive/MyDrive/data/CO2.csv')
CO2_df["time"] = CO2_df["time"].astype(str)
methane_df = pd.read_csv('/content/drive/MyDrive/data/methane.csv')
methane_df["time"] = methane_df["time"].astype(str)
south_joined_df_new = pd.merge(south_joined_df, CO2_df, on="time")
south_joined_df_new = pd.merge(south_joined_df_new, methane_df, on="time")
south_joined_df_new.to_csv('/content/drive/MyDrive/data/South_Data_Finalized_1.csv')
south_joined_df_new

           time  temperature_2m    siconc  ...       Extent       xco2       xch4
0    2003-02-01      250.531347  0.354018  ...     3.788571  376.38867  1732.6155
1    2003-03-01      242.459735  0.451664  ...     4.444355  374.52463  1736.9479
2    2003-04-01      237.807589  0.638975  ...     7.208267  375.49440  1744.8373
3    2003-06-01      234.455553  0.871961  ...    13.985367  374.63092  1744.2860
4    2003-08-01      234.623882  0.921810  ...    17.582484  369.44266  1750.8135
..          ...             ...       ...  ...          ...        ...        ...
194  2020-02-01      250.318563  0.204383  ...     2.920069  410.65050  1832.6729
195  2020-03-01      242.411176  0.310277  ...     4.002710  412.03122  1845.1708
196  2020-04-01      240.169114  0.555356  ...     6.662367  413.05817  1850.6763
197  2020-05-01      238.458923  0.796888  ...     9.871097  414.23456  1853.0302
198  2020-06-01      237.071783  0.877212  ...    13.274433  412.82968  1850.3958

[199 rows x 10 columns]

In [ ]:
north_joined_df.to_csv('/content/drive/MyDrive/data/North_Data_Finalized1.csv')

In [30]:
n_seaice_df = pd.read_csv('/content/drive/MyDrive/data/N_seaice_extent_daily_v3.0.csv')
n_seaice_df.drop([' Source Data','    Missing'], axis = 1, inplace = True)
n_seaice_df = n_seaice_df.iloc[1: , :]
n_seaice_df.reset_index(drop=True, inplace=True)
n_seaice_df["time"] = n_seaice_df["Year"].astype(str) + '-' + n_seaice_df[" Month"].str.strip() + '-' + n_seaice_df[" Day"].str.strip()
n_seaice_df['     Extent'] = n_seaice_df['     Extent'].astype(float)
n_seaice_df.drop(['Year',' Month',' Day'], axis = 1, inplace = True)
n_seaice_df

s_seaice_df = pd.read_csv('/content/drive/MyDrive/data/S_seaice_extent_daily_v3.0.csv')
s_seaice_df.drop([' Source Data','    Missing'], axis = 1, inplace = True)
s_seaice_df = s_seaice_df.iloc[1: , :]
s_seaice_df.reset_index(drop=True, inplace=True)
s_seaice_df["time"] = s_seaice_df["Year"].astype(str) + '-' + s_seaice_df[" Month"].str.strip()+ '-' + s_seaice_df[" Day"].str.strip()
s_seaice_df['     Extent'] = s_seaice_df['     Extent'].astype(float)
s_seaice_df.drop(['Year',' Month',' Day'], axis = 1, inplace = True)
n_seaice_df

            Extent        time
0           10.231  1978-10-26
1           10.420  1978-10-28
2           10.557  1978-10-30
3           10.670  1978-11-01
4           10.777  1978-11-03
...            ...         ...
14122       13.436  2022-01-04
14123       13.477  2022-01-05
14124       13.537  2022-01-06
14125       13.520  2022-01-07
14126       13.690  2022-01-08

[14127 rows x 2 columns]

In [31]:
co2_df = pd.read_csv('/content/drive/MyDrive/data/CO2_L.csv')
ch4_df = pd.read_csv('/content/drive/MyDrive/data/methane_L.csv')

north_joined_df_new = pd.merge(n_seaice_df, co2_df, on="time")
north_joined_df_new = pd.merge(north_joined_df_new, ch4_df, on="time")
north_joined_df_new.to_csv('/content/drive/MyDrive/data/North_Data_Finalized_co2ch4.csv')

south_joined_df_new = pd.merge(s_seaice_df, co2_df, on="time")
south_joined_df_new = pd.merge(south_joined_df_new, ch4_df, on="time")
south_joined_df_new.to_csv('/content/drive/MyDrive/data/South_Data_Finalized_co2ch4.csv')
north_joined_df_new

           Extent        time       xco2       xch4
0          14.120  2003-01-08  373.65958  1724.0134
1          14.126  2003-01-10  375.68082  1726.5620
2          14.219  2003-01-11  374.62955  1729.7222
3          14.278  2003-01-12  375.12580  1723.0782
4          14.285  2003-01-13  374.61102  1719.0468
...           ...         ...        ...        ...
6056        9.918  2020-06-26  411.21924  1853.7065
6057        9.860  2020-06-27  412.02936  1847.5321
6058        9.748  2020-06-28  411.49042  1850.2968
6059        9.621  2020-06-29  411.15598  1855.4109
6060        9.476  2020-06-30  411.27756  1848.6481

[6061 rows x 4 columns]