In [1]:
import pandas as pd
import os
import numpy as np
import re
from sqlalchemy import create_engine
from config import db_password
import time

In [2]:
north_data=pd.read_csv("../ETL Data/North_Data_Finalized_1.csv")
north_data

,Unnamed: 0,time,temperature_2m,siconc,Snow_albedo,snow_melt,surface_pressure,Total_column_ozone,Extent,xco2,xch4
0,0,2003-02-01,246.741962,0.884758,0.838650,5.951018e-06,99292.290584,0.008306,15.193143,376.38867,1732.6155
1,1,2003-03-01,249.224691,0.892143,0.837207,4.105676e-06,99114.335720,0.008907,15.484903,374.52463,1736.9479
2,2,2003-04-01,256.826361,0.884645,0.840880,4.731454e-05,99689.368457,0.008886,14.512067,375.49440,1744.8373
3,3,2003-06-01,274.019265,0.780127,0.853892,5.575093e-04,99331.137871,0.007478,11.604033,374.63092,1744.2860
4,4,2003-08-01,274.893003,0.575636,0.869577,7.181390e-05,99127.633735,0.006325,6.935871,369.44266,1750.8135
...,...,...,...,...,...,...,...,...,...,...,...
194,194,2020-02-01,249.717996,0.864570,0.843789,5.274536e-07,98367.752806,0.007178,14.642138,410.65050,1832.6729
195,195,2020-03-01,250.632265,0.874701,0.845780,2.599765e-06,98420.999313,0.006682,14.730000,412.03122,1845.1708
196,196,2020-04-01,260.010986,0.872704,0.845278,6.161167e-05,99059.116570,0.007072,13.621500,413.05817,1850.6763
197,197,2020-05-01,268.472761,0.826479,0.844218,4.557183e-04,99821.752457,0.007833,12.343129,414.23456,1853.0302
198,198,2020-06-01,275.032330,0.732227,0.863702,2.730785e-04,99238.657058,0.007225,10.592833,412.82968,1850.3958

In [3]:
south_data=pd.read_csv("../ETL Data/South_Data_Finalized_1.csv")
south_data

,Unnamed: 0,time,temperature_2m,siconc,Snow_albedo,snow_melt,surface_pressure,Total_column_ozone,Extent,xco2,xch4
0,0,2003-02-01,250.531347,0.354018,0.856101,8.528879e-07,81072.590525,0.005571,3.788571,376.38867,1732.6155
1,1,2003-03-01,242.459735,0.451664,0.856246,3.343988e-07,80563.469941,0.005698,4.444355,374.52463,1736.9479
2,2,2003-04-01,237.807589,0.638975,0.856267,1.298517e-08,80001.156018,0.005574,7.208267,375.49440,1744.8373
3,3,2003-06-01,234.455553,0.871961,0.856296,4.656613e-10,80958.719176,0.005815,13.985367,374.63092,1744.2860
4,4,2003-08-01,234.623882,0.921810,0.856332,4.656613e-10,79701.416766,0.005420,17.582484,369.44266,1750.8135
...,...,...,...,...,...,...,...,...,...,...,...
194,194,2020-02-01,250.318563,0.204383,0.856185,7.597154e-06,80588.276313,0.006255,2.920069,410.65050,1832.6729
195,195,2020-03-01,242.411176,0.310277,0.856330,8.730145e-07,79871.878277,0.006216,4.002710,412.03122,1845.1708
196,196,2020-04-01,240.169114,0.555356,0.856409,5.129950e-09,80307.378069,0.005994,6.662367,413.05817,1850.6763
197,197,2020-05-01,238.458923,0.796888,0.856404,4.656613e-10,80111.997222,0.005931,9.871097,414.23456,1853.0302
198,198,2020-06-01,237.071783,0.877212,0.856354,4.656613e-10,80124.732118,0.006036,13.274433,412.82968,1850.3958

In [5]:

db_string = f"postgresql://postgres:{db_password}@seaice.ck2g7em9g3ik.us-east-1.rds.amazonaws.com:5432/postgres"

In [6]:
engine = create_engine(db_string)

In [7]:
engine.execute("SELECT datname FROM pg_database;").fetchall()

[('template0',), ('rdsadmin',), ('template1',), ('postgres',)]

In [8]:
north_data.to_sql(name='North', con=engine)

In [9]:
south_data.to_sql(name='South', con=engine)